:host {
	height: 100%;
	display: flex !important;
	flex-direction: column;
	mat-toolbar {
		flex-shrink: 0;
		#left-container {
			position: absolute;
			right: 0;
			padding: 0 20px;
			button {
				background-color: #dca94c;
				color: white;
			}
		}
	}
	mat-sidenav-container {
		height: 100%;
		width: 100%;
		mat-sidenav-content {
			height: 100%;
		}
	}
	.addWidgetButton {
		position: fixed;
		right: 15px;
		bottom: 15px;
	}
	mat-grid-list {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	@keyframes show-widget {
		0% {
			opacity: 0;
			transform: scale(0) rotate(35deg);
		}
		100% {
			opacity: 1;
			transform: scale(1) rotate(0);
		}
	}

	@keyframes close-widget {
		0% {
			opacity: 1;
			transform: scale(1) rotate(0);
		}
		100% {
			opacity: 0;
			transform: scale(0) rotate(35deg);
		}
	}

	.widget-close {
		animation: close-widget 500ms ease;
	}
	.dragging {
		animation: show-widget 0ms ease;
		transition: 0ms;
		opacity: .5;
		z-index: 1000;
		.header .title {
			cursor: grabbing;
		}
	}
	mat-grid-tile {
		//animation: show-widget 500ms ease;
		transition: 300ms;
		min-height: 250px;
		mat-card {
			padding: 0;
			display: flex;
    	flex-direction: column;
			width: calc(100% - 5px);
			height: calc(100% - 5px);
			.header {
				border-radius: 3px 3px 0 0;
				display: flex;
				.title {
					cursor: grab;
					width: 100%;
				}
				.buttons-container {
					height: 100%;
					display: flex;
					top: 0;
					flex-shrink: 0;
					right: 0;
					padding-right: 10px;
					button {
						width: 34px;
						height: initial;
						line-height: 0px;
					}
				}
				p {
					color: white;
					text-transform: uppercase;
					padding: 5px 10px;
					margin: 0;
				}
			}
			.widget-container {
				padding: 5px;
				width: 100%;
				height: calc(100% - 34px);
				display: flex !important;
				justify-content: center;
			}
			.progress-spinner {
				width: 100%;
				height: 100%;
				display: flex;
				* {
					margin: auto;
				}
			}
		}
	}
}