<mat-toolbar>
  <div id="right-container">
    <span>Dashboard</span>
  </div>
  <div id="left-container">
    <button mat-flat-button (click)="logoutClick()">Log out</button>
  </div>
</mat-toolbar>
<mat-grid-list #gridList
(window:resize)="onGridResized($event)"
[cols]="grid.cols" [rowHeight]="grid.rowH">
  <mat-grid-tile
  [style.min-width]="grid.rowH"
  *ngFor="let wid of widgets; let i = index">
    <mat-card class="widget-card"
    mwlDraggable
    ghostDragEnabled="false"
    (dragStart)="drag.start($event, i)"
    (dragEnd)="drag.end($event, i)"
    [dragAxis]="(drag.dragging || drag._isDraggable >= 0 ? { x: true, y: true } : { x: false, y: false })"
    [dropData]="wid.drag.data"
    [ngClass]="wid.drag.dragging ? 'dragging' : ''"
    
    mwlDroppable
    (dragEnter)="drag.enter($event, i)"
    (dragLeave)="drag.leave($event, i)">
      <div class="header"
      style="position: relative; height: 34px;"
      [style.color]="'white'"
      [style.background-color]="wid.color">
        <p class="title"
        (mouseenter)="drag.setCurrentDraggable(i)"
        (mouseleave)="drag.unsetCurrentDraggable()">
          {{wid.name}}
        </p>
        <div class="buttons-container">
          <button
          mat-icon-button
          (click)="openSettings($event, wid)">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteWidget($event, i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="widget-container" app-widget-selector [app-widget-component]="wid">
        <div *ngIf="showSpinner(wid.componentRef.instance)" class="progress-spinner widget-container">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button class="addWidgetButton" color="primary" (click)="showWidgetSelector()" mat-fab><mat-icon>add</mat-icon></button>
