<div *ngIf="loaded" class="main">
  <div class="image-container">
      <div class="image" [style.background-image]="'url(' + data.image + ')'" alt="Image"></div>
  </div>
  <div class="infos">
    <h2>{{data.title}}</h2>
    <div>
      <p>Subs:  {{data.subs}}</p>
      <p>Views: {{data.views}}</p>
    </div>
  </div>
</div>
