@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap';

html, body, app-root {
	width: 100%;
	height: 100%;
	margin: 0;
}

button:focus {
	outline:0;
}

@media (max-width: 599px) {
	.mat-tab-label {
		min-width: 100px !important;
	}
}