:host {
  display: flex;
  flex-direction: column;
}

mat-accordion {
  margin-bottom: 10px;
}

.widgetCardContainer {
  display: flex;
  flex-wrap: wrap;
}

.widgetSelector {
  margin: 5px;
  min-width: 150px;
  min-height: 150px;
  padding: 0;
  cursor: pointer;
  .mat-card-header {
    justify-content: center;
    padding: 5px;
    .mat-card-title {
      margin: 0;
      font-size: 16px;
      color: #585858;
    }
  }
  img {
    max-width: 150px;
    max-height: 150px;
    margin: 0;
  }
}

.cancelButton {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  * {
    display: block;
  }
  button {
    width: fit-content;
    margin-left: auto;
  }
}