<div *ngIf="loaded" class="weather-content">
  <div class="header">
    <h1>
      {{data.name}}
    </h1>
    <img [src]="'https://openweathermap.org/img/w/' + data.weather[0].icon + '.png'">
  </div>
  <div class="content">
    <div class="temp">
      <div style="color: #5a5a5a;">{{this.data.main.temp}} °C</div>
      <div style="font-size: 14px;
                  justify-content: center;
                  display: flex;
                  margin: 0 20px;
                  color: #8a8a8a;">
        <div style="margin-right: auto;">min: {{this.data.main.temp_min}} °C</div>
        <div style="margin-left: auto;">max: {{this.data.main.temp_max}} °C</div>
      </div>
    </div>
  </div>
</div>
