:host {
  .weather-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      font-size: 17px;
      color: #585858;
      * {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .content {
      height: 100%;
      width: 100%;
      display: flex;
      .temp {
        margin: auto;
        font-size: 60px;
      }
    }
  }
}