<div *ngIf="loaded" class="main">
  <div class="image-container">
      <div class="image" [style.background-image]="'url(' + data.picture + ')'" alt="Image"></div>
  </div>
  <div class="infos">
    <h2>{{data.title}}</h2>
    <h6>{{data.promo}}</h6>
    <div>
      <p>City: {{data?.groups?.at(0)?.title || "unknown"}}</p>
      <p>G.P.A: {{data?.gpa?.at(0)?.gpa || "unknown"}}</p>
    </div>
  </div>
</div>
