<div *ngIf="loaded" class="main">
  <h2>{{data.title}}</h2>
  <div class="list-container">
    <div *ngFor="let itm of data.items" (click)="open(itm.link)">
      <h3>{{itm.title}}</h3>
      <h6>{{parseHTML(itm.desc)}}</h6>
    </div>
  </div>
</div>
