:host {
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
  .main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .itm {
    display: flex;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .5s;
  }
  .itm:hover {
    background-color: #ececec;
  }
  .image {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    border: solid 2px #d2d2d2;
  }
  .infos {
    padding: 0 10px;
    max-width: calc(100% - 50px);
  }
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: .6rem;
  }
}