<div *ngIf="loaded" class="main">
  <div *ngFor="let itm of data" class="itm" (click)="openUrl(itm.link)">
    <div class="image" [style.background-image]="'url(' + (itm.images && itm.images.length ? itm.images[0] : '/assets/leboncoin/icon.jpg') + ')'" alt="Image"></div>
    <div class="infos">
      <h1>{{itm.title}}</h1>
      <p>{{itm.description}}</p>
    </div>
  </div>
</div>
