.main, .actiContainer, .progress {
  width: 100%;
}
:host {
  overflow-y: auto;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  h2 {
    color: #585858;
    text-align: center;
  }
  .actiContainer {
    margin: auto 0;
    display: flex;
    padding: 15px 0;
    .marker {
      flex-shrink: 0;
      height: 5px;
      width: 5px;
      margin: auto 5px;
      border-radius: 50%;
    }
    .progress {
      margin: auto 0;
      height: 5px;
    }
    h4 {
      font-size: 10px;
      margin: auto 0;
      white-space: nowrap;
      font-weight: bold;
      color: #787979;
    }
  }
}