<div *ngIf="loaded" class="main">
  <div *ngIf="errorMessage !== ''; else module">
    <p>{{errorMessage}}</p>
  </div>
  <ng-template #module>
    <h2>{{settings.moduleName._data}}</h2>
    <div *ngFor="let acti of modules" class="actiContainer">
      <h4>{{acti.title}}</h4>
      <div class="marker"
      style="background-color: rgb(166, 246, 166)"
      [matTooltip]="'Start: ' + acti.timeline_start"></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
        [style.width]="acti.timeline_barre + '%'"
        [style.background-color]="getColorForPercentage(acti.timeline_barre)">
          <span class="sr-only">{{acti.timeline_barre}}% Complete</span>
        </div>
      </div>
      <div class="marker"
      style="background-color: rgb(241, 155, 155)"
      [matTooltip]="'End: ' + acti.timeline_end"></div>
    </div>
  </ng-template>
</div>
