:host {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  .mat-tree-node.isNode {
    font-size: medium;
    text-transform: uppercase;
    color: #585858;
  }
  .mat-tree-node:not(.isNode) {
    button {
      width: 100%;
      text-align: left;
      color: #7b7b7b;
    }
    .selected {
      background-color: #44ec6229;
    }
  }
  .editor {
    display: flex;
    flex-direction: column;
    * {
      margin: auto;
    }
    .button-container {
      margin: initial;
      margin-left: auto;
      button {
        margin-left: 10px;
      }
    }
  }
}