
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-button (click)="onClick(node)"
    [ngClass]="{'selected': node === selectedNode}">
      {{node.value.options.displayName || node.name}}
    </button>
  </mat-tree-node>

  <mat-tree-node class="isNode" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div>{{node.name}}</div>
  </mat-tree-node>
</mat-tree>
<div class="editor"
*ngIf="selectedNode !== undefined"
[ngSwitch]="selectedNode.value.getType()">
  <div *ngSwitchCase="types.NUMBER">
      <mat-form-field>
        <input matInput #settingInput
        type="number" [placeholder]="selectedNode.name"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="selectedNode.value._data">
      </mat-form-field>
  </div>
  <div *ngSwitchCase="types.STRING">
      <mat-form-field>
        <input matInput #settingInput
        type="text" [placeholder]="selectedNode.name"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="selectedNode.value._data">
      </mat-form-field>
  </div>
  <div *ngSwitchCase="types.AUTO">
    <mat-form-field>
      <mat-label>{{selectedNode.name}}</mat-label>
      <mat-select #settingInput
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="selectedNode.value._data">
        <mat-option *ngFor="let opt of selectedNode.value.notSerializable.data | async" [value]="opt">{{opt}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>
  <div class="button-container">
    <button mat-flat-button color="warn" (click)="reject()">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
  </div>
</div>